@mixin tileposition($url) {
    background-image: $url;
    background-size: cover;
    width: 200px;
    height: 200px;
} 
@mixin songbackground ($url) {
    background-image: $url;
    margin: 0 auto;
    background-size: cover;
    background-attachment: fixed;
  }