nav {
    width: 1000px;
    margin: 0px;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  
  #logo {
    text-align: center;
    transition: all 0.5s;
  }
  #logo:hover {
    transform: scale(1.2) rotate(10deg);
  }
  
  nav ul {
    display: flex;
    justify-content: center;
    background: rgba(0, 0, 0, 0.9);
    border-radius: 5px;
    margin: 0px;
    padding: 10px 0px 10px 0px;
    
  }
  nav ul li {
    text-align: center;
    list-style-type: none;
    text-decoration: none;
    padding: 10px;
    margin: 0;
    border-radius: 5px;
    display: inline-block;
    position: relative;
    z-index: 2;
    transition: color 0.5s;
  }
  nav ul li a::after {
    content: "";
    background-color: #ff2600;
    background: linear-gradient(90deg, transparent, #ff2600);
    width: 0%;
    height: 3px;
    border-radius: 30px;
    position: absolute;
    left: 0%;
    opacity: 1;
    bottom: 0%;
    transition: all .4s;
  }
  nav ul li a:hover {
    width: 100%;
    background: linear-gradient(90deg, #f14d1b,#fff);
    color: #ffffff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  nav ul li a:hover:after {
    width: 100%;
  }
  nav ul li a {
    text-decoration: none;
    color: #ff2600;
  }
  ul {
    text-decoration: none;
    list-style-type: none;
    margin: 0px;
    & li {
      display: inline-block;
      margin-right: 20px;
    }
    & .nav {
      border: none;
    }
    & .nav > li {
      border: none;
    }
  }
  